.welcomeContainer {
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  text-align: right;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 600px;
  padding: 20px;
}

.img {
  width: 600px;
  padding: 20px;
}

.mainButton {
  background-color: #fa8072;
  border: 0;
  padding: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
